<ion-header>

  <ion-navbar color="verde">
    <ion-title>Audio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row>
    <ion-col>
      <button ion-button full color="amarillo" (click)="captureAudio()"  item-end icon-end>
        Grabar
        <ion-icon name="mic"></ion-icon> 
      </button>
    </ion-col>
  </ion-row>

  

  <ion-list>
      <ion-item *ngFor="let file of mediaFiles" tappable (click)="playFile(file)" text-wrap>
        <ion-thumbnail item-start>
          <img src="assets/imgs/music.png">
        </ion-thumbnail>
        <h2>{{ file.name }}</h2>
        <p>{{ file.size / 100 / 1000 | number }} MB</p>
        <button ion-button clear item-end>
          <ion-icon name="play" ></ion-icon>
        </button>
      </ion-item>
    </ion-list>

</ion-content>
