<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar color="verde">
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-start></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<div *ngIf="showSplash" class="splash">
    <div class="spinner"></div>
  </div>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
