<ion-header>

  <ion-navbar color="verde">
    <ion-title>Sensores</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <h3>Humedad</h3>
    <ion-item>
      <ion-badge  item-end> {{ humedad }} %</ion-badge>
      <ion-range [(ngModel)]="humedad" >
        <ion-icon range-left color="primary" small name="thermometer"></ion-icon>
        <ion-icon range-right color="primary" name="thermometer"></ion-icon>
      </ion-range>
    </ion-item>

    <h3>Temperatura</h3>
    <ion-item>
      <ion-badge color="secondary"  item-end> {{ temperatura }} C</ion-badge>
      <ion-range [(ngModel)]="temperatura" color="secondary">
        <ion-icon range-left small color="secondary" name="thermometer"></ion-icon>
        <ion-icon range-right color="secondary" name="thermometer"></ion-icon>
      </ion-range>
    </ion-item>

    <button ion-button full color="amarillo" (click)="getData()" >Actulizar datos</button>
    
  </ion-list>

 

</ion-content>
