
<ion-header>

  <ion-navbar color="verde">
    <ion-title>GSM</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="fondo" padding>

  <ion-card>
    <ion-card-header>
      Mensaje
    </ion-card-header>
  
    <ion-card-content>
      <p>Escribe mensaje</p>
      <ion-list>
        <ion-item>
          <ion-label color="verde">Para</ion-label>
          <ion-input type="tel" placeholder="# Celular"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="verde">Mensaje</ion-label>
          <ion-textarea placeholder="Ejemplo..." rows="10" ></ion-textarea>
        </ion-item>
        <ion-item>
          <button ion-button block item-end icon-end color="verde" (click)="sendMessage()"  >
              Enviar
              <ion-icon name="text" ></ion-icon>
            </button>
        </ion-item>
      </ion-list>
      
    </ion-card-content>
  </ion-card>

</ion-content>
